/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; /* this will change later */
    /* overflow-x: hidden;
    overflow-y: auto; */
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* Root -> variable container that allows variables to be included in css */

:root {
    --section1-BG:      hsla(258, 71%, 9%, 0.98);
    --section1-H1:      #fefcfe;
    --section1-text:    #d0cadc;
    --section1-height:    100vh;

    --section2-BG:      #ffffff;
    --section2-H1:      #0d0724;
    --section2-text:    #282631;
    --section2-height:    130vh;

    --section3-BG:        linear-gradient(125deg, #00e7cc, #014cff, #00e7cc);
    --section3-H1:      #fefcfe;
    --section3-text:    #d0cadc;
    --section3-height:    150vh;

    --section4-BG:      #110729;
    --section4-H1:      #fefcfe;
    --section4-text:    #d0cadc;
    --section4-Button:  #04fb88;
    --section4-input:   #282e40;
    --section4-height:    100vh;
    --section4-arrow:   #22125B;
    --section4-arrow-hover: #04fb88;


    --all-sections-width: 100vw;


    --extra-small-screen: 576px;
    --small-screen: 768px;
    --medium-screen: 992px;
    --large-screen: 1200px;

}
@media screen and (max-width: 400px) {
    :root {
        --section2-height: 100vh;
        --section3-height: 100vh;
    }
}
body::-webkit-scrollbar {
    display: none;
}

.container-section1, .container-section2, .container-section3, .container-section4, .navbar {
    overflow-x: hidden;
}
/* bootstrap fixes? nav*/
.navbar {
    /* it's either or, it cannot be both. */
    /* mix-blend-mode: difference !important; */
    background: rgba(0, 0, 0, 0.6) !important;
}
.navbar-brand {
    margin: 0 20px;
}
.form-inline {
    margin: 0px 20px !important;
}
.nav-logo {
    width: 32px;
    height: 32px;
    color: white;
}
.nav-link {
    color: #fff;
    opacity: 1;
    font-size: 10px;
}
.nav-link:hover {
    color: rgb(148, 255, 193);
    opacity: 1;
    font-size: 10px;
}
header .btn-outline-success, header .btn {
    font-size: 0.6em;
    color: var(--section4-Button);
    border-width: 2px;
    border-color: var(--section4-Button);
    border-radius: 50px;
    padding: 12px;
    font-weight: 600;
}
header .btn-outline-success:hover, header .btn:hover {
    font-size: 0.6em;
    color: var(--section1-BG);
    border-color: transparent;
    background-color: var(--section4-Button);
}







/* Section 1 */
.container-section1 {
    background-color: var(--section1-BG);
    height: var(--section1-height);
    width: var(--all-sections-width);
    /* /* flex-direction: column; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align-items: center; */ 
    color: var(--section1-text);
}
.container-section1-content {
    width: 90%;
    max-width: 90%;
    height: 100%;
    padding-top: 20vh;
    margin: 0 auto !important;
    display: -ms-grid;
    display: grid;
    place-items: center;
}
@media all and (max-width: 768px) {
    .container-section1-content {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    
}
.container-section1 .container-section1-content .h1 {
    font-size: calc(100% + 2vw + 1vh);
}
.sec1-text {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.container-section1-content .h2 {
    font-size: 2em !important;
}








/* Section 2 */
.container-section2 {
    background-color: var(--section2-BG);
    height: var(--section2-height);
    width: var(--all-sections-width);
}
.container-section2 .container {
    width: 80%;
    max-width: 80%;
    height: 100%;
    padding: 5vh 0 5vh 0;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}
.container-section2 .container .row1 {
    display: -ms-grid;
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 5px;
}
.container-section2 .container .squize {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 55%;
}
.container-section2 .container .noMargin {
    padding: 0;
    margin: 0;
}
.container-section2 .container .sec2-text {
    font-size: 0.8rem;
    font-weight: 500;
}
@media all and (max-width: 576px) {
    .container-section2 .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .container-section2 .container .squize {
        width: 80%;
    }
    .container-section2 {
        height: 100vh;
    }
}
@media all and (max-width: 768px) {
    .container-section2 .container .squize {
        width: 70%;
    }
    .container-section2 .container {
        padding: 0;
    }
}
.logo {
    width: 50px;
    height: 50px;
    -o-object-fit: contain;
    object-fit: contain;
}

















/* Section 3 */
.container-section3 {
    background: var(--section3-BG);
    height: var(--section3-height);
    width: var(--all-sections-width);
    color: var(--section3-H1);
}
.container-section3 .container {
    width: 90%;
    max-width: 90%;
    height: 100%;
    padding: 5vh 0;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-auto-rows: 1fr;
}
.container-section3 .container h2 {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    font-weight: 100;
}
@media screen and (max-width: 576px) {
    .container-section3 .container h2 {
        width: 90%;
        font-size: calc(1.3em + 1vw);
    }
    .container-section3 {
        height: 100vh;
    }
}
.middle-eles {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
}
.right-border {
    border-right: 1px solid #fefcfe9c;
}
.left-border {
    border-left: 1px solid #fefcfe9c;
}
.container-section3 .container .display-3 {
    font-size: calc(100% + 6vw + 1vh);
}
.container-section3 .container .display-4 {
    font-size: calc(100% + 4vw + 1vh);
}



















/* Section 4 */
.container-section4 {
    background-color: var(--section4-BG);
    height: var(--section4-height);
    width: var(--all-sections-width);
    display: -ms-grid;
    display: grid;
    place-items: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    color: var(--section4-text);
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters .col,
.no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.container-section4 .row {
    width: 90%;
    max-width: 90%;
    margin: 0 auto 0 0;
}
.container-section4 .grid-layout-left {
    display: -ms-grid;
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 20px;
    margin: auto auto;
}
.container-section4 .no-gutters .h1 {
    font-size: calc(100% + 3vw + 1vh);
    max-width: 100%;
    width: 100%;
}
@media all and (max-width: 576px) {
    .container-section4 .grid-layout-left {
        grid-row-gap: 15px;
        width: 80%;
        max-width: 80%;
        margin-bottom: 35px;
    }
    .container-section4 .grid-layout-right {
        width: 80%;
        max-width: 80%;
        margin: auto auto;
    }
    .container-section4 .row {
        margin: 0 auto;
    }
    
}
.container-section4 .grid-layout-left .center-it {
    display: -ms-grid !important;
    display: grid !important;
    place-items: center !important;
    text-align: center;
}
.color-arrow {
    fill: var(--section4-arrow);
    cursor: pointer;
}
.color-arrow:hover {
    fill: var(--section4-arrow-hover);
}
.container-section4 input, .container-section4 textarea {
    background-color: var(--section4-input);
    border: none;
    border-radius: 0px;
    padding: 15px;
    color: var(--section4-text);
    font-size: 0.8rem;
    font-weight: 500;
    width: 100%;
}
.container-section4 textarea {
    resize: none;
}
.container-section4 input:focus, .container-section4 textarea:focus {
    background-color: var(--section4-input);
    color:white;
    font-weight: 300;
}
.container-section4 button {
    background-color: var(--section4-Button);
    border: 1px solid transparent;
    border-radius: 0;
    padding: 15px;
    color: var(--section4-BG);
    font-size: 0.8rem;
    font-weight: 500;
    width: 100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.container-section4 button:hover, .container-section4 button:focus {
    background-color: var(--section4-BG);
    color: var(--section4-Button);
    border: 1px solid var(--section4-Button);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media all and (max-width: 576px) {
    .container-section4 input, .container-section4 textarea {
        padding: 10px;
        font-size: 0.7rem;
        font-weight: 400;
    }
    .container-section4 button {
        font-size: 0.7rem;
    }
    .container-section4 .no-gutters .h1 {
        font-size: calc(100% + 3vw + 1vh) !important;
    }
}